<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href= "{{url_for('static',filename='styles/marks.css') }}">
    <title>Dashboard</title>
</head>


<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">Zviko College</label>
    

    <ul>
      <li><a href="{{url_for('home')}}">Home</a</li>
      <li><a href="{{url_for('logout')}}">Click here to logout</a></li>
    </ul>
  
  </nav>
  <center><h1>Welcome {{username}}</h1>
    <h2>{{username}} Information</h2></center>

<div class="container">
  <div class="row">
      <table class="table table-hover table-dark">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Courses</th>
          <th>Grades</th>
          <th>Status</th>

        </tr>

        
        <tr>
          <td>{{username}}</td>
          <td>{{email}}</td>
          <td>{{courses}}</td>
          <td>{{gradeaverage}}</td>
          <td>{{status}}</td>
        </tr>
 
</body>






</html>

